body {
    background: #333;
}

.pudding {
    margin: 20px;
    height: 10px;
    width: 10px;
    
    box-shadow: 
    
        /* holly & cherry */
        80px 10px 0 0 #009688, 
        140px 10px 0 0 #009688,
		70px 20px 0 0 #009688, 
        80px 20px 0 0 #009688, 
        90px 20px 0 0 #009688,
		130px 20px 0 0 #009688, 
        140px 20px 0 0 #009688, 
        150px 20px 0 0 #009688,
		80px 30px 0 0 #009688, 
        90px 30px 0 0 #009688, 
        100px 30px 0 0 #e91e63,
		110px 30px 0 0 #e91e63, 
        120px 30px 0 0 #009688, 
        130px 30px 0 0 #009688,
		140px 30px 0 0 #009688,


        /* icing and cherries */
        60px 40px 0 0 #fff, 
        70px 40px 0 0 #fff,
		80px 40px 0 0 #fff, 
        90px 40px 0 0 #e91e63, 
        100px 40px 0 0 #e91e63,
		110px 40px 0 0 #e91e63, 
        120px 40px 0 0 #009688, 
        130px 40px 0 0 #009688,
		140px 40px 0 0 #fff, 
        150px 40px 0 0 #fff, 
        40px 50px 0 0 #fff,
		50px 50px 0 0 #fff, 
        60px 50px 0 0 #fff, 
        70px 50px 0 0 #fff,
		80px 50px 0 0 #fff, 
        90px 50px 0 0 #e91e63, 
        100px 50px 0 0 #e91e63,
		110px 50px 0 0 #fff, 
        120px 50px 0 0 #fff, 
        130px 50px 0 0 #fff,
		140px 50px 0 0 #fff, 
        150px 50px 0 0 #fff, 
        160px 50px 0 0 #fff,
		170px 50px 0 0 #fff, 
        30px 60px 0 0 #fff, 
        40px 60px 0 0 #fff,
		50px 60px 0 0 #fff, 
        60px 60px 0 0 #fff, 
        70px 60px 0 0 #fff,
		80px 60px 0 0 #fff, 
        90px 60px 0 0 #fff, 
        100px 60px 0 0 #fff,
		110px 60px 0 0 #fff, 
        120px 60px 0 0 #fff, 
        130px 60px 0 0 #fff,
		140px 60px 0 0 #fff, 
        150px 60px 0 0 #fff, 
        160px 60px 0 0 #fff,
		170px 60px 0 0 #fff, 
        180px 60px 0 0 #fff, 
        20px 70px 0 0 #fff,
		30px 70px 0 0 #fff, 
        40px 70px 0 0 #fff, 
        50px 70px 0 0 #fff,
		60px 70px 0 0 #fff, 
        70px 70px 0 0 #fff, 
        80px 70px 0 0 #fff,
		90px 70px 0 0 #fff, 
        100px 70px 0 0 #fff, 
        110px 70px 0 0 #fff,
		120px 70px 0 0 #fff, 
        130px 70px 0 0 #fff, 
        140px 70px 0 0 #fff,
		150px 70px 0 0 #fff, 
        160px 70px 0 0 #fff, 
        170px 70px 0 0 #fff,
		180px 70px 0 0 #fff, 
        190px 70px 0 0 #fff, 
        20px 80px 0 0 #fff,
		30px 80px 0 0 #fff, 
        40px 80px 0 0 #fff, 
        50px 80px 0 0 #fff,
		60px 80px 0 0 #fff, 
        70px 80px 0 0 #fff, 
        80px 80px 0 0 #fff,
		90px 80px 0 0 #fff, 
        100px 80px 0 0 #fff, 
        110px 80px 0 0 #fff,
		120px 80px 0 0 #fff, 
        130px 80px 0 0 #fff, 
        140px 80px 0 0 #fff,
		150px 80px 0 0 #fff, 
        160px 80px 0 0 #fff, 
        170px 80px 0 0 #fff,
		180px 80px 0 0 #fff, 
        190px 80px 0 0 #fff, 
        10px 90px 0 0 #fff,
		20px 90px 0 0 #fff,


        /* icing & pudding */
        30px 90px 0 0 #69473a, 
        40px 90px 0 0 #69473a,
		50px 90px 0 0 #fff, 
        60px 90px 0 0 #fff, 
        70px 90px 0 0 #fff,
		80px 90px 0 0 #69473a, 
        90px 90px 0 0 #69473a, 
        100px 90px 0 0 #fff,
		110px 90px 0 0 #fff, 
        120px 90px 0 0 #69473a, 
        130px 90px 0 0 #69473a,
		140px 90px 0 0 #fff, 
        150px 90px 0 0 #fff, 
        160px 90px 0 0 #fff,
		170px 90px 0 0 #fff, 
        180px 90px 0 0 #69473a, 
        190px 90px 0 0 #fff,
		200px 90px 0 0 #fff, 
        10px 100px 0 0 #69473a, 
        20px 100px 0 0 #69473a,
		30px 100px 0 0 #69473a, 
        40px 100px 0 0 #69473a, 
        50px 100px 0 0 #fff,
		60px 100px 0 0 #fff, 
        70px 100px 0 0 #69473a, 
        80px 100px 0 0 #69473a,
		90px 100px 0 0 #69473a, 
        100px 100px 0 0 #69473a, 
        110px 100px 0 0 #69473a,
		120px 100px 0 0 #69473a, 
        130px 100px 0 0 #69473a, 
        140px 100px 0 0 #fff,
		150px 100px 0 0 #fff, 
        160px 100px 0 0 #fff, 
        170px 100px 0 0 #69473a,
		180px 100px 0 0 #69473a, 
        190px 100px 0 0 #69473a, 
        200px 100px 0 0 #69473a,
		10px 110px 0 0 #69473a, 
        20px 110px 0 0 #69473a, 
        30px 110px 0 0 #69473a,
		40px 110px 0 0 #69473a, 
        50px 110px 0 0 #69473a, 
        60px 110px 0 0 #fff,
		70px 110px 0 0 #69473a, 
        80px 110px 0 0 #69473a, 
        90px 110px 0 0 #69473a,
		100px 110px 0 0 #69473a, 
        110px 110px 0 0 #3a2a1c, 
        120px 110px 0 0 #69473a,
		130px 110px 0 0 #69473a, 
        140px 110px 0 0 #69473a, 
        150px 110px 0 0 #fff,
		160px 110px 0 0 #fff, 
        170px 110px 0 0 #69473a, 
        180px 110px 0 0 #69473a,
		190px 110px 0 0 #3a2a1c, 
        200px 110px 0 0 #69473a, 
        10px 120px 0 0 #69473a,
		20px 120px 0 0 #3a2a1c, 
        30px 120px 0 0 #69473a, 
        40px 120px 0 0 #69473a,
		50px 120px 0 0 #69473a, 
        60px 120px 0 0 #69473a, 
        70px 120px 0 0 #69473a,
		80px 120px 0 0 #69473a, 
        90px 120px 0 0 #69473a, 
        100px 120px 0 0 #69473a,
		110px 120px 0 0 #69473a, 
        120px 120px 0 0 #69473a, 
        130px 120px 0 0 #69473a,
		140px 120px 0 0 #69473a, 
        150px 120px 0 0 #fff;



        /* pudding */
}